.requested {
    color: green;
}
.failed {
    background-color: red;
}
table {
    border-collapse: collapse;
    border: thin gray solid;
    td, th {
        border-collapse: collapse;
        border: thin gray solid;    
    }
}